* {
    font-family: var(--font-family);
}

#main-content-wrapper {
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.garden-data-wrapper {
    width: 500px;
    height: 550px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}

#garden-information-wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#garden-information-wrapper span {
    font-weight: 400;
}

#garden-information-wrapper h4:last-child {
    max-height: 130px;
    overflow-y: scroll;
}

#garden-tools-wrapper, #garden-users-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#garden-tool-info-wrapper, #garden-user-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#garden-tool-display-wrapper, #garden-tool-addition-wrapper, #garden-selected-tool-info,
#garden-user-display-wrapper, #garden-user-addition-wrapper, #garden-selected-user-info {
    border: 1px solid rgb(134, 133, 133);
    width: 50%;
    height: 450px;
    border-radius: 5px;
    padding: 10px;
}

#garden-tool-addition-wrapper, #garden-user-addition-wrapper{
    height: 50%;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#garden-tool-dropbox, #garden-user-dropbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(100% - 20px);
    gap: 3px;
}

.garden-dropbox-tool, .garden-dropbox-user{
    width: 80px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: hidden;
    transition: 0.1s;
}

.garden-dropbox-tool:hover, .garden-dropbox-user:hover {
    cursor: pointer;
    background-color: var(--button-color);
}

#garden-selected-tool-info, #garden-selected-user-info {
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#selected-tool-info-wrapper, #selected-user-info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#selected-tool-info-wrapper span , #selected-user-info-wrapper span {
    font-weight: 400;
}

#selected-tool-info-wrapper h5:last-child {
    max-height: 50px;
    overflow-y: scroll;
}

#second-column-tools, #second-column-users{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.input-form input {
    width: 160px;
    font-size: 13px;
}

#add-tool-button, #add-user-button, #remove-user-button, #remove-tool-button{
    border: none;
    border-radius: 3px;
    padding: 3px;
    background-color: var(--button-color);
    box-shadow: var(--shadow);
}

#add-tool-button:hover, #add-user-button:hover, #remove-user-button:hover, #remove-tool-button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.input-form textarea {
    max-height: 40px;
    max-width: 200px;
    font-size: 12px;
}

#selected-user-info-wrapper {
    gap: 20px;
}

#user-name-input {
    margin-top: 5px;
    width: 100%;
}

#remove-user-button {
    background-color: rgb(235, 49, 49);
    color: white;
}

#remove-user-button:hover {
    background-color: rgb(188, 42, 42);
    cursor: pointer;
}

#remove-tool-button {
    background-color: rgb(235, 49, 49);
    color: white;
}

#remove-tool-button:hover {
    background-color: rgb(188, 42, 42);
    cursor: pointer;
}

#tool-id {
    display: none;
}




