.logo {
    height: 50px;
    width: 50px;
    margin: 15px;
    transition: 0.1s;
}

.logo:hover {
    fill: #37e148;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(209, 195, 195);
    padding-right: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.navigation li {
    padding: 15px;
}

.navigation ul a {
    color: black;
    text-decoration: none;
}

.navigation ul a:hover {
    border-bottom: 1px solid black;
}

#sign-in-button {
    padding: 15px;
    background-color: var(--button-color);
    color: whitesmoke;
    border-radius: 8px;
    color: black;
    transition: 0.1s;
}

#sign-in-button:hover {
    background-color: var(--button-hover-color);
    border-bottom: 0;
}

#sign-up-button, #sign-out-button {
    padding: 15px;
    border: 1px solid rgb(209, 195, 195);
    border-radius: 8px;
    transition: 0.1s;
}

#sign-up-button:hover, #sign-out-button:hover {
    background-color: rgb(220, 215, 215);
}

#sign-in-button, #sign-up-button, #sign-out-button {
    box-shadow: var(--shadow)
}
