.sign-in-wrapper {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.sign-in-content {
    display: flex;
    padding: 100px;
}

.sign-in-wrapper h2 {
    text-align: center;
    padding-bottom: 15px;
}

#sign-in-submit {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--button-color);
    cursor: pointer;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: 0.1s;
    color: black;
    font-family: var(--font-family);
}

#sign-in-submit:hover {
    background-color: var(--button-hover-color)
}
